$font-size:(
    xs:12px,
    s:14px,
    m:16,
    l:18,
    xl:20,
    xxl:22,
);
$bg-color:(
    light-bg:gray,
    dark-bg:#333

);

//this the best use of map using mixins
@mixin font-size($size){
    
    @if map-has-key($font-size,$size){
//true
font-size: map-get($font-size,$size);
    }
    // false
    @else{
@error "#{$size} is not exist";
    }
    
}

// this the best use of map using function